<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
	<h1>Add category</h1>
	<div>
		<form th:object="${category}" th:action="@{saveCategory}" action="#" method="post">
		  	<label for="name">Category name</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>
