<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit food</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
	<h1>Edit Food</h1>
	<div class="form-group">
		<form th:object="${food}" th:action="@{../savefood}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
		  	<label for="mealName">Meal name</label>
			<input type="text" id="mealName" th:field="*{mealName}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="calories">Calories</label>
			<input type="text" id="calories" th:field="*{calories}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save Edits" class="btn btn-primary"></input>
		</form>
	</div>
</body>
</html>
