<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit sport</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
	<h1>Edit Sport</h1>
	<div class="form-group">
		<form th:object="${sport}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
		  	<label for="sportName">Sport</label>
			<input type="text" id="sportName" th:field="*{sportName}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="consumption">Consumption</label>
			<input type="text" id="consumption" th:field="*{consumption}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save Edits" class="btn btn-primary"></input>
		</form>
	</div>
</body>
</html>
