<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit sport</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
	<h1>Edit Sport</h1>
	<div class="form-group">
		<form th:object="${sport}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
		  	<label for = "datalist">Sport</label>
		  	<select id = "datalist" th:field = "*{sportData}" class="form-control-sm">
				<option th:each="data: ${datalist}" th:value="${data.sportDataId}" th:text="${data.sportName}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="calories">Duration</label>
			<input type="text" id="duration" th:field="*{duration}" />
			<p th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Error</p>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>
