<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Foodlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
		    <th>Energy</th>
		    <th>Time</th>
		</tr>  
    	<tr th:each = "food : ${foods}">
    		<td th:text="${food.mealName}"></td>
    		<td th:text="${food.calories}"></td>
    		<td th:text="${food.date}"></td>
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${food.id})}" class="btn btn-danger">Delete</a></td>
    		<td><a th:href="@{/editfood/{id}(id=${food.id})}" class="btn btn-dark">Edit</a></td>
    	</tr>
     </table>
     <a href="/frontpage" class="btn btn-primary">Back to frontpage</a>
</body>
</html>